@using System.Globalization

@model BookingsPaginationCountViewModel

@{
    ViewData["Title"] = "Резервации (Администратор)";
}

@if (Model != null && Model.Bookings.Count() > 0)
{
    <div class="adminHeader bg-danger">
        <h1 class="text-center">Резервации</h1>
    </div>
    <section class="userBookingsSection">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-6 d-flex justify-content-lg-end mb-2">
                    <form asp-controller="Booking" asp-action="BookingsByKeyword" method="get" class="d-flex mt-2" role="search" style="width:100%">
                        <input name="phoneNumber" class="form-control me-2 border-danger" type="text" placeholder="Търси резервация по телефонен номер" aria-label="Search">
                        <button class="btn btn-outline-dark text-white" type="submit">Търси</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-5">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                @foreach (var booking in Model.Bookings)
                                {
                                    <li class="position-relative booking">
                                        <div class="media">
                                            <div class="media-body">
                                                <h5 class="mb-4">
                                                    Tип на резервацията: Корт
                                                </h5>
                                                <div class="mb-3">
                                                    <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Дата и час на резервацията:</span>
                                                    <span class="bg-light-blue">@booking.Date.ToString("dd MMM yyyy", new CultureInfo("bg")), @booking.Hour.ToString(@"hh\:mm")</span>
                                                </div>
                                                <div class="mb-3">
                                                    <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">
                                                        Детайли на резервацията:
                                                    </span>
                                                    <span class="bg-light-blue">@booking.PeopleCount човека</span>
                                                    <span class="bg-light-blue">@booking.RacketsBooked ракети</span>
                                                    <span class="bg-light-blue">Корт @booking.CourtNumber</span>
                                                    <span class="bg-light-blue">@booking.Location</span>
                                                </div>
                                                <div class="mb-3">
                                                    <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Цена:</span>
                                                    <span class="bg-light-blue">@booking.ReservationTotalSum лева</span>
                                                </div>
                                                <div class="mb-5">
                                                    <span class="mr-2 d-block d-sm-inline-block mb-1 mb-sm-0">Клиент:</span>
                                                    <span class="border-right pr-2 mr-2 bg-light-blue">@booking.UserBookingName</span>
                                                    <span class="bg-light-blue">@booking.PhoneNumber</span>
                                                </div>
                                                <div class="mb-5">
                                                    <span class="mr-2 d-block d-sm-inline-block mb-1 mb-sm-0">Статут на резервацията:</span>
                                                    <span class="border-right pr-2 mr-2 bg-light-blue">@booking.Status</span>
                                                </div>
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#booking-@booking.Id">
                                                    Откажи
                                                </button>
                                                <div class="modal fade" id="booking-@booking.Id" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="modalLabel">Резервация на: @booking.UserBookingName</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Сигурни ли сте, че искате да маркирате тази резервация като отказана?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                                                                <form>
                                                                    <button class="btn btn-danger" type="submit" formmethod="post" asp-controller="Booking" asp-action="ChangeBookingStatus" asp-route-bookingId="@booking.Id" asp-route-userId="@booking.UserId" asp-route-status="Отказана">Откажи</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#bookingApprove-@booking.Id">
                                                    Одобри
                                                </button>
                                                <div class="modal fade" id="bookingApprove-@booking.Id" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="modalLabel">Резервация на: @booking.UserBookingName</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Сигурни ли сте, че искате да маркирате тази резервация като одобрена?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                                                                <form>
                                                                    <button class="btn btn-success" type="submit" formmethod="post" asp-controller="Booking" asp-action="ChangeBookingStatus" asp-route-bookingId="@booking.Id" asp-route-userId="@booking.UserId" asp-route-status="Одобрена">Одобри</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="pagination pagination-md justify-content-center">
                    <li class="page-item"><a class="page-link text-dark" asp-controller="Booking" asp-action="AllBookings" asp-route-pageCount="@((int)ViewData.First(x => x.Key == "pageNum").Value - 1)">Предишна</a></li>
                    @for (int j = 1; j <= Model.PageCount; j++)
                    {
                        <li class="page-item"><a class="page-link text-dark" asp-controller="Booking" asp-action="AllBookings" asp-route-pageCount="@j">@j</a></li>
                    }
                    <li class="page-item"><a class="page-link text-dark" asp-controller="Booking" asp-action="AllBookings" asp-route-pageCount="@((int)ViewData.First(x => x.Key == "pageNum").Value + 1)">Следваща</a></li>
                </ul>
            </div>
        </div>
    </section>
}
else
{
    ViewData["contentType"] = "Резервации";
    @await Html.PartialAsync(@"~/Views/Shared/_NoContentPartialView.cshtml", ViewData["contentType"]);
}

