@model EventFormModel

@{
    ViewData["Title"] = "Редактиране на Събитие (Админ)";
}
<div class="adminHeader bg-danger">
    <h2 class="text-center">Редактирай Събитие</h2>
</div>
<div class="container mt-2">
    <hr class="border border-danger border-2 opacity-50">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <span class="text-center text-danger">@Html.ValidationMessage("UrlEmpty")</span>
            <span class="text-center text-danger">@Html.ValidationMessage("InvalidDates")</span>
            <form asp-controller="Event" asp-action="Add" method="post">
                <div class="mb-3">
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.Title" placeholder="Title" class="form-control" aria-required="true"
                               id="titleFloatingInput" />
                        <label for="titleFloatingInput" class="form-label-add-edit">Заглавие</label>
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-floating mb-3">
                                <input asp-for="@Model.Start" placeholder="StartHour" class="form-control"
                                       aria-required="true" id="startHourFloatingInput" type="datetime-local" value="@Model.Start.ToString("yyyy-MM-ddTHH:mm")" min="07:00" max="22:00" />
                                <label for="startHourFloatingInput" class="form-label-add-edit">Дата и начален час</label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-floating mb-3">
                                <input asp-for="@Model.End" placeholder="EndHour" class="form-control"
                                       aria-required="true" id="endHourFloatingInput" type="datetime-local" value="@Model.End.ToString("yyyy-MM-ddTHH:mm")" min="07:00" max="23:59" />
                                <label for="endHourFloatingInput" class="form-label-add-edit">Дата и краен час</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-floating mb-3">
                                <select asp-for="@Model.Category" class="form-select">
                                    <option value="Лагери">Лагери</option>
                                    <option value="Турнири за деца">Турнири за деца</option>
                                    <option value="Турнири за любители">Турнири за любители</option>
                                    <option value="Развлечения">Развлечения</option>
                                </select>
                                <label for="trainingNameFloatingInput" class="form-label-add-edit">Категория на събитието</label>
                                <span asp-validation-for="@Model.Category" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-floating mb-3">
                                <input asp-for="@Model.Location" placeholder="Location" class="form-control"
                                       aria-required="true" id="locationFloatingInput" />
                                <label for="locationFloatingInput" class="form-label-add-edit">Локация</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button btn-danger" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Главна Снимка #1
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="form-floating mb-3">
                                        <input asp-for="@Model.ImageUrls[0]" type="text" class="form-control" id="floatingInput"
                                               placeholder="imageUrl">
                                        <label for="floatingInput">Адрес на Снимка</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button btn-danger" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Допълнителна Снимка #2
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show"
                                 aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="form-floating mb-3">
                                        <input asp-for="@Model.ImageUrls[1]" type="text" class="form-control" id="floatingInput"
                                               placeholder="imageUrl">
                                        <label for="floatingInput">Адрес на Снимка</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button btn-danger" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="true"
                                        aria-controls="collapseThree">
                                    Допълнителна Снимка #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse show"
                                 aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="form-floating mb-3">
                                        <input asp-for="@Model.ImageUrls[2]" type="text" class="form-control" id="floatingInput"
                                               placeholder="imageUrl">
                                        <label for="floatingInput">Адрес на Снимка</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="fs-5">Съдържание</label>
                    <textarea asp-for="@Model.Content" class="form-control" aria-required="true"
                              rows="10"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input class="btn btn-danger mb-2 w-100 p-3 fs-5" type="submit" formmethod="post" value="Редактирай" />
                </div>
            </form>
            <hr class="border border-danger border-2 opacity-50">
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
