@model SignKidFormModel

@{
    ViewData["Title"] = "Форма за записване";
}
<section class="signFormSection">
    <div class="container">
        <div class="row justify-content-center">
            <div class="login-box col-lg-8 mt-5">
                <h2 class="text-center text-white mb-5">Запишите детето си</h2>
                <form asp-controller="News" asp-action="Add" method="post">
                    <span class="text-center text-white">@Html.ValidationMessage("PrivacyPolicy")</span>
                    <div class="mb-3">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.FullName" placeholder="FullName" class="form-control" aria-required="true"
                                   id="fullNameFloatingInput" />
                            <label for="fullNameFloatingInput" asp-for="FullName" class="form-label-add-edit">Име и фамилия</label>
                            <span asp-validation-for="FullName" class="text-dark"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="@Model.PhoneNumber" placeholder="PhoneNumber" class="form-control"
                                           aria-required="true" id="phoneNumberFloatingInput" />
                                    <label for="phoneNumberFloatingInput" asp-for="@Model.PhoneNumber"
                                           class="form-label-add-edit">Телефон за връзка</label>
                                    <span asp-validation-for="PhoneNumber" class="text-dark"></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mt-1 mt-md-0">
                                <div class="form-floating mb-3">
                                    <input asp-for="@Model.EmailAddress" placeholder="EmailAddress" class="form-control"
                                           aria-required="true" id="emailAddressFloatingInput" type="email" />
                                    <label for="emailAddressFloatingInput" asp-for="@Model.EmailAddress"
                                           class="form-label-add-edit">Емайл</label>
                                    <span asp-validation-for="EmailAddress" class="text-dark"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="@Model.Location" class="form-select">
                                        <option value="Зала ИЧС">Зала ИЧС</option>
                                        <option value="Зала Казичене">Зала Казичене</option>
                                        <option value="Зала Горна Малина">Зала Горна Малина</option>
                                        <option value="Зала Равно Поле">Зала Равно Поле</option>
                                    </select>
                                    <label for="locationFloatingInput" class="form-label-add-edit">Обект</label>
                                    <span asp-validation-for="@Model.Location" class="text-dark"></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-floating mb-3">
                                    <select asp-for="@Model.TrainingType" class="form-select">
                                        <option value="Деца до 7">Деца до 7</option>
                                        <option value="Деца до 11">Деца до 11</option>
                                        <option value="Деца до 15">Деца до 15</option>
                                        <option value="Деца до 19">Деца до 19</option>
                                    </select>
                                    <label for="trainingTypeFloatingInput" class="form-label-add-edit">
                                        Възрасти
                                    </label>
                                    <span asp-validation-for="@Model.TrainingType" class="text-dark"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Message" class="fs-5">Съобщение</label>
                        <textarea asp-for="@Model.Message" class="form-control" aria-required="true"
                                  rows="5"></textarea>
                        <span asp-validation-for="Message" class="text-dark"></span>
                    </div>
                    <div class="mb-3">
                        @Html.CheckBoxFor(x => x.PrivacyPolicyIsAccepted)
                        <label for="checkboxId" asp-for="@Model.PrivacyPolicyIsAccepted" class="form-label-add-edit">
                            Политика за
                            Поверителност
                        </label>
                    </div>
                    <div class="mb-3 text-center">
                        <button asp-controller="SignKid" asp-action="SignForm" type="submit" formmethod="post">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Запиши
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>