@model PostFormModel

@{
    ViewData["Title"] = "Add News (Admin)";
}
<div class="adminHeader bg-danger">
    <h2 class="text-center">Add Post</h2>
</div>
<div class="container mt-2">
    <hr class="border border-danger border-2 opacity-50">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <span class="text-center text-danger">@Html.ValidationMessage("UrlEmpty")</span>
            <form asp-controller="News" asp-action="Add" method="post">
                <div class="mb-3">
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.Title" placeholder="Title" class="form-control" aria-required="true"
                               id="titleFloatingInput" />
                        <label for="titleFloatingInput" class="form-label-add-edit">Title</label>
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button btn-danger" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Title Image Url #1
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="form-floating mb-3">
                                        <input asp-for="@Model.ImageUrls" type="text" class="form-control" id="floatingInput"
                                               placeholder="imageUrl">
                                        <label for="floatingInput">Image Url</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button btn-danger" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Body Image Url #2
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show"
                                 aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="form-floating mb-3">
                                        <input asp-for="@Model.ImageUrls" type="text" class="form-control" id="floatingInput"
                                               placeholder="imageUrl" value="">
                                        <label for="floatingInput">Image Url</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button btn-danger" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="true"
                                        aria-controls="collapseThree">
                                    Body Image Url #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse show"
                                 aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="form-floating mb-3">
                                        <input asp-for="@Model.ImageUrls" type="text" class="form-control" id="floatingInput"
                                               placeholder="imageUrl">
                                        <label for="floatingInput">Image Url</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="fs-5">Content</label>
                    <textarea asp-for="@Model.Content" class="form-control" aria-required="true"
                              rows="10"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input class="btn btn-danger mb-2 w-100 p-3 fs-5" type="submit" value="Add" />
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-4 text-center">
            <div class="fastButtons">
                <a asp-controller="Achievement" asp-action="Add" class="form-control btn btn-large btn-danger fs-5">Add Achievement</a>
                <hr>
                <a asp-controller="Player" asp-action="Add" class="form-control btn btn-large btn-danger fs-5">Add Player</a>
                <hr>
                <a asp-controller="Coach" asp-action="Add" class="form-control btn btn-large btn-danger fs-5">Add Coach</a>
                <hr>
                <a asp-controller="User" asp-action="UserReservations" class="form-control btn btn-large btn-danger fs-5">User Reservations</a>
                <hr>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
