@model RecentEventsAndPlayerCountViewModel

@{
    ViewData["Title"] = "Начало";
}

<div class="animatedHeader" style="background-color:black;">
    <h1 class="text-center">Бадминтон Клуб Ракет Спийд</h1>
</div>
<section class="clubSection pt-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-lg-4">
                <div class="image ratio ratio-4x3">
                    <img class="img-fluid rounded"
                         src="https://racketspeedbg.com/wp-content/uploads/2023/05/342408243_191873547017741_1776652270621883938_n-1-1536x1024.jpg" />
                </div>
                <p class="lead text-center text-white fs-3 mt-4"><span style="color: #FFA202">13 Титли</span> от Национални Шампионати</p>
            </div>
            <div class="col-12 col-lg-4 text-white mb-5 mt-5 mt-lg-0" style="background-color: black;">
                <div class="d-flex justify-content-center pb-5">
                    <img src="https://racketspeedbg.com/wp-content/uploads/2019/11/logo-raket-spiyd-page-0-300x160.jpg"
                         alt="RacketSpeed" width="200" height="100" />
                </div>
                <p class="lead text-center fs-4">Членове: @Model.PlayerCount</p>
                <p class="lead text-center fs-4">Основан: <span style="color: #FFA202">26 Февруари 2018</span></p>
            </div>
            <div class="col-12 col-lg-4 d-flex justify-content-center pt-lg-5">
                <div>
                    <img class="img-fluid rounded" src="https://i.ibb.co/hXsLpmC/Gergin-Nedyalkov-pure-black.jpg" width="350" />
                    <p class="lead text-center fs-4" style="color: #FFA202;">Гергин Недялков</p>
                    <p class="lead text-center text-white fs-4">Основател</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="carouselSection">
    <div id="carouselExampleIndicators" class="carousel slide pb-5" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://racketspeedbg.com/wp-content/uploads/2023/05/343078036_881493409587488_5750249251441164584_n.jpg"
                     class="d-block mx-auto rounded" alt="..." height="300">
            </div>
            <div class="carousel-item">
                <img src="https://racketspeedbg.com/wp-content/uploads/2023/05/342408243_191873547017741_1776652270621883938_n-1-1536x1024.jpg"
                     class="d-block mx-auto rounded" alt="..." height="300">
            </div>
            <div class="carousel-item">
                <img src="https://iili.io/HiJm9zG.jpg"
                     class="d-block mx-auto rounded" alt="..." height="300">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="trainingSection">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-6 pt-5">
                <h2 class="text-center text-white">Занимания за деца</h2>
                <table class="table text-center mt-5" style="background-color: #BB2C3B;">
                    <thead>
                        <tr class="text-white">
                            <th class="fs-4" scope="col">Възрасти</th>
                            <th class="fs-4" scope="col">Цени</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-white">
                            <td class="fs-5">До 7 г.</td>
                            <td class="fs-5">10 лв.</td>
                        </tr>
                        <tr class="text-white">
                            <td class="fs-5">До 11 г.</td>
                            <td class="fs-5">15 лв.</td>
                        </tr>
                        <tr class="text-white">
                            <td class="fs-5">До 15 г.</td>
                            <td class="fs-5">20 лв.</td>
                        </tr>
                        <tr class="text-white">
                            <td class="fs-5">До 19 г.</td>
                            <td class="fs-5">25 лв.</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-12 d-flex justify-content-center mt-2">
                    <a asp-controller="SignKid" asp-action="SignForm" class="btn btn-lg btn-danger">Запиши детето си</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="eventsSection">
    <div class="container pb-5 pt-5">
        <div class="row d-flex justify-content-center">
            @foreach (var eventModel in Model.RecentEvents)
            {
                <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
                    <div class="image ratio ratio-4x3">
                        <img class="img-fluid rounded"
                             src="@eventModel.ImageUrl" />
                    </div>
                    <div class="text-center text-white mt-2">
                        <div class="title">
                            <h3>@eventModel.Title</h3>
                        </div>
                        <p class="lead mt-2">@(eventModel.Content.Substring(0, 180))...</p>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <a asp-controller="Event" asp-action="Details" asp-route-eventId="@eventModel.Id" class="btn btn-dark">Прочети повече</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@await Html.PartialAsync(@"~/Views/Shared/_FooterRedToBlackPartialView.cshtml")
